<h1>Statistiques</h1>

<table mat-table [dataSource]="statsData" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="playerName">
    <th mat-header-cell *matHeaderCellDef>Joueur</th>
    <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
  </ng-container>

  <ng-container matColumnDef="win">
    <th mat-header-cell *matHeaderCellDef>Victoire</th>
    <td mat-cell *matCellDef="let element"> {{element.win}} </td>
  </ng-container>

  <ng-container matColumnDef="loss">
    <th mat-header-cell *matHeaderCellDef>Défaite</th>
    <td mat-cell *matCellDef="let element"> {{element.loss}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>