<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MK8-Capitale</span>
    <div class="main-menu">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/challenges" mat-menu-item>Challenges</button>
        <button routerLink="/statistiques" mat-menu-item>Statistiques</button>
        <a href="https://rankade.com/mk8-challenge/"  mat-menu-item>Classement</a>
      </mat-menu>
  </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>


