<div class="active-challenges-container">
  <h1 class="active-challenges-container__title">Challenges</h1>

  <mat-card class="challenge-container" *ngFor="let challenge of inProgressChallenges">
  
    <div class="challenge-container__players">
      <div class="challenge-container__players__1">{{challenge.payload.doc.data().playerOne.name}}</div>
      <div class="challenge-container__players__2">{{challenge.payload.doc.data().playerTwo.name}}</div>
    </div>
  
    <div class="challenge-container__score">
      <div class="challenge-container__score__select">
        <mat-select class="challenge-container__score__select__1"
        (selectionChange)="onScoreChange($event.value, challenge, 'playerOne')" 
        [value]=challenge.payload.doc.data().playerOne.score>
          <mat-option *ngFor="let scoreValue of scoreValues" [value]="scoreValue">
            {{scoreValue}}
          </mat-option>
        </mat-select>
  
        <mat-select class="challenge-container__score__select__2"
        (selectionChange)="onScoreChange($event.value, challenge, 'playerTwo')" 
        [value]=challenge.payload.doc.data().playerTwo.score >
          <mat-option *ngFor="let scoreValue of scoreValues" [value]="scoreValue">
            {{scoreValue}}
          </mat-option>
        </mat-select>
      </div>   
      <div class="challenge-container__button">
        <button mat-button color="primary" (click)="completeChallenge(challenge)" [disabled]=!readyToComplete(challenge)>Terminé</button>
      </div>            
    </div>
  </mat-card>
  
  <button mat-raised-button color="primary" routerLink="/challenges/new">Nouveau</button>
</div>

<figure class="mk8-img-container">
  <img src="assets/img/mario-kart.jpg" alt="Mario and Luigi" class="mk8-img">
</figure>

<div class="history-challenge-container">
  <h1 class="history-challenge-container__title">Historique</h1>
  <table class="challenges-table">
    <tr>
      <th>Joueurs</th>
      <th>Pointage</th>
      <th>Dates</th>
    </tr>
    <ng-container *ngFor="let challenge of completedChallenges; let i = index">
        <tr class="challenges-table__player-line">
          <td>{{ challenge.payload.doc.data().playerOne.name }}</td>
          <td>{{ challenge.payload.doc.data().playerOne.score }}</td>
          <td>{{ challenge.payload.doc.data().dateStart }}</td>
        </tr>
        <tr class="challenges-table__player-line">
          <td>{{ challenge.payload.doc.data().playerTwo.name }}</td>
          <td>{{ challenge.payload.doc.data().playerTwo.score }}</td>
          <td>{{ challenge.payload.doc.data().dateEnd }}</td>
        </tr>
        <tr class="challenges-table__non-player-line" *ngIf="i < completedChallenges.length-1">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
    </ng-container>
  </table>
</div>

