<h1>Challenges</h1>
<mat-tab-group>
  <mat-tab label="En cours"> 

    <mat-card *ngFor="let challenge of inProgressChallenges">

      <div class="playersName">
        <span class="playerOneName">{{challenge.payload.doc.data().playerOne.name}}</span>
        <span>{{challenge.payload.doc.data().playerTwo.name}}</span>
      </div>


      <div class="playersScore">
        <div class="scoreSelectBox">
          <mat-select 
          (selectionChange)="onScoreChange($event.value, challenge, 'playerOne')" 
          [value]=challenge.payload.doc.data().playerOne.score 
          class="playerOneScore">
            <mat-option *ngFor="let scoreValue of scoreValues" [value]="scoreValue">
              {{scoreValue}}
            </mat-option>
          </mat-select>
  
          <mat-select 
          (selectionChange)="onScoreChange($event.value, challenge, 'playerTwo')" 
          [value]=challenge.payload.doc.data().playerTwo.score >
            <mat-option *ngFor="let scoreValue of scoreValues" [value]="scoreValue">
              {{scoreValue}}
            </mat-option>
          </mat-select>
        </div>      
        <div class="completed">
          <button mat-button color="primary" (click)="completeChallenge(challenge)" [disabled]=!readyToComplete(challenge)>Terminé</button>
        </div> 
      </div>
    </mat-card>

    <button mat-raised-button color="primary" routerLink="/challenges/new">Nouveau</button>
  </mat-tab>
  <mat-tab label="Terminé">
    <table class="challenges-table">
      <tr>
        <th>Joueurs</th>
        <th>Pointage</th>
        <th>Dates</th>
      </tr>
      <ng-container *ngFor="let challenge of completedChallenges">
          <tr>
            <td>{{ challenge.payload.doc.data().playerOne.name }}</td>
            <td>{{ challenge.payload.doc.data().playerOne.score }}</td>
            <td>{{ challenge.payload.doc.data().dateStart }}</td>
          </tr>
          <tr>
            <td>{{ challenge.payload.doc.data().playerTwo.name }}</td>
            <td>{{ challenge.payload.doc.data().playerTwo.score }}</td>
            <td>{{ challenge.payload.doc.data().dateEnd }}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
      </ng-container>
    </table>
  </mat-tab>
</mat-tab-group>