<h1>Challenges</h1>
<mat-tab-group>
  <mat-tab label="En cours"> 
    <table class="challenges-table">
        <tr>
          <th>Joueur</th>
          <th>Pointage</th>
          <th>Date</th>
        </tr>
        <ng-container *ngFor="let challenge of inProgressChallenges">
          <tr>
            <td>{{ challenge.payload.doc.data().playerOne.name }}</td>
            <td>
              <mat-select 
              (selectionChange)="onScoreChange($event.value, challenge, 'playerOne')" 
              [value]=challenge.payload.doc.data().playerOne.score >
                <mat-option *ngFor="let scoreValue of scoreValues" [value]="scoreValue">
                  {{scoreValue}}
                </mat-option>
              </mat-select>
            </td>
            <td rowspan="2"><button mat-raised-button color="primary" (click)="completeChallenge(challenge)">Terminé</button></td>
          </tr>

          <tr>
            <td>{{ challenge.payload.doc.data().playerTwo.name }}</td>
            <td>
              <mat-select 
              (selectionChange)="onScoreChange($event.value, challenge, 'playerTwo')" 
              [value]=challenge.payload.doc.data().playerTwo.score >
                <mat-option *ngFor="let scoreValue of scoreValues" [value]="scoreValue">
                  {{scoreValue}}
                </mat-option>
              </mat-select>
            </td>
          </tr>
          
          <tr>
            <td>&nbsp;</td>
          </tr>
        </ng-container>
      </table>
    <button mat-raised-button color="primary" routerLink="/challenges/new">Nouveau</button>
  </mat-tab>
  <mat-tab label="Terminé">
    <table class="challenges-table">
      <tr>
        <th>Joueur</th>
        <th>Pointage</th>
        <th>Date</th>
      </tr>
      <ng-container *ngFor="let challenge of completedChallenges">
          <tr>
            <td>{{ challenge.payload.doc.data().playerOne.name }}</td>
            <td>{{ challenge.payload.doc.data().playerOne.score }}</td>
            <td>{{ challenge.payload.doc.data().dateStart }}</td>
          </tr>
          <tr>
            <td>{{ challenge.payload.doc.data().playerTwo.name }}</td>
            <td>{{ challenge.payload.doc.data().playerTwo.score }}</td>
            <td>{{ challenge.payload.doc.data().dateEnd }}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
      </ng-container>
    </table>
  </mat-tab>
</mat-tab-group>