.tab-group-container {
    max-width: 50rem;
}

.challenge-container {
    margin: 0.5em;
    display: flex;
    max-width: 25rem;
    justify-content: space-between;

    &__players__1 {
        margin-bottom: .5rem;
    }

    &__score {
        display: flex;
        align-items: center;

        &__select__1 {            
            margin-bottom: 0.5rem;
        }
    }

    &__button {
        margin-left: 4rem;
    }
}

.challenges-table {
    margin-top: 1em;
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

.challenges-table__player-line {
    td {
        border-bottom: 1px solid #ddd;
    }

    &:hover {
        background-color: #f5f5f5;
    }
}

.challenges-table__non-player-line {
    td {
        border-bottom: 1px solid #ddd;
    }

    background-color: #f5f5f5;
}

th {
    border-bottom: 1px solid #ddd;
}

button {
    margin-left: 0.5em;
}

