.simple-form {
    display: flex;
    flex-direction: column;
  }
  
  .simple-form > * {
    width: 100%;
  }

  .challenge-form-button-group button {
      margin-right: 0.5em;
  }

  .challenge-form-container {
    margin: 0 auto;
    max-width: 40rem;
  }