<div class="challenge-form-container">
  <h1>Nouveau challenge</h1>
  <form class="simple-form" [formGroup]="this.challengeService.form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Joueur 1</mat-label>
      <mat-select formControlName="playerOneName">
        <mat-option *ngFor="let playerName of playersNameList" [value]="playerName">
          {{playerName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Joueur 2</mat-label>
      <mat-select formControlName="playerTwoName">
        <mat-option *ngFor="let playerName of playersNameList" [value]="playerName">
          {{playerName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  
  <div class="challenge-form-button-group">
    <button mat-raised-button color="primary" (click)="onSubmit()">Confirmer</button>
    <button mat-raised-button color="warn" routerLink="/challenges">Annuler</button>
  </div>
</div>
